{% extends 'core/base.html' %}

{% block title %}Контакти - Мікро-Волонтерство{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8">
            <h1 class="mb-4">Зв'яжіться з нами</h1>
            <p class="lead mb-5">У вас є питання, пропозиції або відгуки? Не соромтеся зв'язатися з нами будь-яким зручним способом.</p>

            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="name" class="form-label">Ваше ім'я</label>
                                <input type="text" class="form-control" id="name" placeholder="Ваше ім'я">
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="your@email.com">
                            </div>
                            <div class="col-12">
                                <label for="subject" class="form-label">Тема</label>
                                <input type="text" class="form-control" id="subject" placeholder="Тема повідомлення">
                            </div>
                            <div class="col-12">
                                <label for="message" class="form-label">Повідомлення</label>
                                <textarea class="form-control" id="message" rows="5" placeholder="Ваше повідомлення"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Надіслати повідомлення</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Контактна інформація</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-map-marker-alt fa-2x text-primary"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h6>Адреса</h6>
                                    <p class="mb-0">вул. Волонтерська, 123<br>м. Київ, 01001<br>Україна</p>
                                </div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-phone fa-2x text-primary"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h6>Телефон</h6>
                                    <p class="mb-0">+380 (99) 123-45-67</p>
                                </div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-envelope fa-2x text-primary"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h6>Email</h6>
                                    <p class="mb-0">info@micro-volunteer.org</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-clock fa-2x text-primary"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h6>Робочі години</h6>
                                    <p class="mb-0">Пн-Пт: 9:00 - 18:00<br>Сб-Нд: Вихідні</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Слідкуйте за нами</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-around">
                        <a href="#" class="text-decoration-none">
                            <i class="fab fa-facebook fa-2x text-primary"></i>
                        </a>
                        <a href="#" class="text-decoration-none">
                            <i class="fab fa-twitter fa-2x text-info"></i>
                        </a>
                        <a href="#" class="text-decoration-none">
                            <i class="fab fa-instagram fa-2x text-danger"></i>
                        </a>
                        <a href="#" class="text-decoration-none">
                            <i class="fab fa-linkedin fa-2x text-primary"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3 class="mb-4">Наше розташування</h3>
            <div class="ratio ratio-21x9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d162757.72582752635!2d30.392614951155637!3d50.40217023774832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1647351605430!5m2!1suk!2sua"
                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}